<footer class="site-footer">
	<div class="site-footer__inner">
		<p>an open source metaphysical framework</p>
		<p>fractalisme.nl &mdash; <a href="/rss.xml" class="site-footer__rss">RSS</a></p>
	</div>
</footer>
